.hidden {
    display: none;
}

body {
    background-image: url('../assets/images/minnesota-vikings-wallpapers-31229-5622710.jpg');
}


header {
    text-align: right;
    font-size: 20px;
    color: rgb(255, 217, 0);
    font-family: 'ubuntu';
    padding-bottom: 20px;
}

.js-quiz {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(78, 42, 138);
    padding: 5%;
    font-family: 'ubuntu';
    border: 5px solid black;
}

label{
    font-size: 25px;
    height: 50px;
    background-color: rgb(241, 183, 45);
    border: 10px;
    color: rgb(78, 42, 138);
    border-radius: 10px;
    margin: 5px;
}

label:focus {
    color: rgb(241, 183, 45);
    background-color: rgb(78, 42, 138);
}

button {
    background-color: rgb(78, 42, 138);
    width: 66.67%;
    height: 50px;
    font-size: 30px;
    font-family: 'ubuntu';
    color: rgb(241, 183, 45);
    border-radius: 10px;
    border: 0px;
    margin-bottom: 20px;
}

button:hover {
    background-color: rgb(241, 183, 45);
    color:rgb(78, 42, 138);
    transition-duration: 0.3s;
    cursor: pointer;
}

label:hover {
    background-color: rgb(78, 42, 138);
    color:rgb(241, 183, 45);
    transition-duration: 0.4s;
    cursor: pointer;
}

img{
    width: 60%;
}

input{
    display: none;
}

#mute{
    width: 50px;
    background: transparent url("../assets/images/audio-150191_960_720.png") no-repeat top;
    background-size: cover;
    background-position: center center;
    border-radius: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.vidLink {
    background-color: rgb(241, 183, 45);
    font-family: 'ubuntu';
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.vidLink:hover{
    background-color: rgb(78, 42, 138);
    color:rgb(241, 183, 45);
    transition-duration: 0.4s;
    cursor: pointer;
}