body {
    background-image: url('../assets/images/minnesota-vikings-wallpapers-31229-5622710.jpg');
    font-family: 'ubuntu';
}

header {
    text-align: right;
    font-size: 20px;
    color: rgb(255, 221, 25);
    padding-bottom: 20px;
    font-weight: bold;
    text-shadow: 1px 2px black;
}

label{
    display: table-cell;
    width: 400px;
    font-size: 20px;
    height: 50px;
    background-color: rgb(241, 183, 45);
    color: rgb(78, 42, 138);
    border-radius: 10px;
    vertical-align: middle;
}

label:focus{
    color: rgb(241, 183, 45);
    background-color: rgb(78, 42, 138);
}

input {
    -webkit-appearance: none;
}

input:focus + label {
    color: rgb(241, 183, 45);
    background-color: rgb(78, 42, 138);
}

button {
    background-color: rgb(78, 42, 138);
    width: 500px;
    max-width: 66.67%;
    height: 50px;
    font-size: 25px;
    color: rgb(241, 183, 45);
    border-radius: 10px;
    border: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(241, 183, 45);
    color:rgb(78, 42, 138);
    transition-duration: 0.3s;
    cursor: pointer;
}

label:hover {
    background-color: rgb(78, 42, 138);
    color:rgb(241, 183, 45);
    transition-duration: 0.4s;
    cursor: pointer;
}

img{
    width: 60%;
}

span{
    color:rgb(223, 169, 45);
    text-shadow: 1px 2px black;
}

.js-quiz {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(78, 42, 138);
    padding: 5%;
    border: 5px solid black;
}

.vidLink {
    background-color: rgb(241, 183, 45);
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

.vidLink:hover{
    background-color: rgb(78, 42, 138);
    color:rgb(241, 183, 45);
    transition-duration: 0.4s;
    cursor: pointer;
}

.checked {
    background-color: rgb(25, 9, 51);
    color:rgb(241, 183, 45);
}

.checked:hover {
    background-color: rgb(25, 9, 51);
}

.option {
    display: inline-block;
}

.muteButton {
    width: 50px;
    background: transparent url("../assets/images/soundOn.png") no-repeat top;
    background-size: cover;
    background-position: center center;
    border-radius: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
}

.muted {
    background: transparent url("../assets/images/soundOff.png") no-repeat top;
    background-size: cover;
    background-position: center center;
}

.hidden {
    display: none;
}