body {
    background-image: url('../assets/images/minnesota-vikings-wallpapers-31229-5622710.jpg');
    font-family: 'ubuntu','Segoe UI', Tahoma, Verdana, sans-serif;

}

header {
    text-align: right;
    font-size: 20px;
    color: rgb(255, 221, 25);
    padding-bottom: 20px;
    font-weight: bold;
    text-shadow: 1px 2px black;
}


label{
    display: table-cell;
    width: 400px;
    font-size: 20px;
    height: 50px;
    background-color: rgb(241, 183, 45);
    color: rgb(78, 42, 138);
    border-radius: 10px;
    vertical-align: middle;
    margin-left: 5px;
}

fieldset{
    border: none;
    font-size: 23px;
}

input{
    -webkit-appearance: none;
    transition: 0.2s all linear;
    border: none;
    outline: none;
    vertical-align: middle;
    display: table-cell;
}

input:checked {
    width: 45px;
    background-size: contain;
    background-position: center center;
    border: none;
    transition-duration: 0.2s;
}

input:checked + label{
    background-color: rgb(36, 13, 73);
    color: rgb(241, 183, 45);
}

#ans-a{
    background: transparent url("../assets/images/a.png") no-repeat top;
    width: 20px;
    background-size: contain;
    background-position: center center;
}

#ans-a:checked{
    width: 50px;
}

#ans-b{
    background: transparent url("../assets/images/b.png") no-repeat top;
    width: 20px;
    background-size: contain;
    background-position: center center;
}

#ans-b:checked{
    width: 50px;
}

#ans-c{
    background: transparent url("../assets/images/c.png") no-repeat top;
    width: 20px;
    background-size: contain;
    background-position: center center;
}

#ans-c:checked{
    width: 50px;
}

#ans-d{
    background: transparent url("../assets/images/d.png") no-repeat top;
    width: 20px;
    background-size: contain;
    background-position: center center;
}

#ans-d:checked{
    width: 50px;
}

button {
    background-color: rgb(78, 42, 138);
    width: 500px;
    max-width: 66.67%;
    height: 50px;
    font-size: 25px;
    color: rgb(241, 183, 45);
    border-radius: 10px;
    border: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(241, 183, 45);
    color:rgb(78, 42, 138);
    transition-duration: 0.3s;
    cursor: pointer;
}

label:hover {
    background-color: rgb(78, 42, 138);
    color:rgb(241, 183, 45);
    transition-duration: 0.4s;
    cursor: pointer;
}

img{
    width: 60%;
}

span{
    color:rgb(223, 169, 45);
    text-shadow: 1px 2px black;
}

.js-quiz {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(69, 39, 117);
    padding: 5%;
    border: 5px solid black;
}

.vidLink {
    background-color: rgb(241, 183, 45);
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

.vidLink:hover{
    background-color: rgb(78, 42, 138);
    color:rgb(241, 183, 45);
    transition-duration: 0.4s;
    cursor: pointer;
}

.option {
    display: inline-block;
    margin: 5px;
    background-color: rgb(241, 183, 45);
    border-radius: 15px;
    padding: 4px;
}

.muteButton {
    width: 50px;
    background: transparent url("../assets/images/soundOn.png") no-repeat top;
    background-size: cover;
    background-position: center center;
    border-radius: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
}

.muted {
    background: transparent url("../assets/images/soundOff.png") no-repeat top;
    background-size: cover;
    background-position: center center;
}

.hidden {
    display: none;
}